$link-color: rgb(29, 178, 212);

.activity-list {
  margin-top: 3rem;
  max-width: 80%;
  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
}

.activity {
  margin-bottom: 4rem;
}

.activity h2 {
  font-weight: 400;
  margin-top: 0;
}

.activity p {
  font-weight: 300;
}

.activity a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: lighten($link-color, 20);
  }
}

.activity-image {
  max-width: 200px;
  margin: 0 1.5rem 0 0;
  @media screen and (max-width: 480px) {
    max-width: 140px;
  }
}
