@import 'colors';

.slider-visualization {
  font-size: 1.3em;
  line-height: 1.8em;
}

.slider-visualization h2 {
  color: $darkBlue;
}

.slider-visualization .highlight {
  color: $cobalt;
  font-weight: 400;
}

.slider-visualization .label {
  font-size: 0.8em;
}

.slider-visualization .label.right {
  text-align: right;
}
.slider-visualization .label.left {
  text-align: left;
}

.adjustment {
  margin: 3rem 0 4rem 0;
}

@media screen and (max-width: 768px) {
  .slider-visualization {
    font-size: 1em;
    line-height: 1.6em;
  }
  .slider {
    width: 95%;
    margin: auto;
  }
}

@media screen and (max-width: 568px) {
  .adjustment {
    position: relative;
  }
  .slider-visualization .label.left {
    position: absolute;
    top: 1.2em;
    left: 10px;
  }
  .slider-visualization .label.right {
    position: absolute;
    top: 1.2em;
    right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .slider-visualization .label {
    font-size: 0.8rem;
  }
}
