@import 'colors';

.slider-visualization {
  font-size: 1.3em;
  line-height: 1.8em;
}

.slider-visualization h2 {
  color: $darkBlue;
}

.slider-visualization .highlight {
  color: $cobalt;
  font-weight: 400;
}

.slider-visualization .label {
  font-size: 0.8em;
}

.slider-visualization .label.right {
  text-align: right;
}
.slider-visualization .label.left {
  text-align: left;
}

.adjustment {
  margin: 3rem 0 4rem 0;
}
