<header>
  <div class="container clearfix">
    <div class="logo left"><img src="/assets/images/cee-logo.png" class="cee-logo"></div>
    <nav class="right">
      <ul class="nav-menu">
        <li class="menu-item"><a href="http://councilforeconed.org">Home</a></li>
        <li class="menu-item"><a href="http://econedlink.org">EconEdLink</a></li>
        <li class="menu-item"><a href="http://genirevolution.org">Gen i Revolution</a></li>
      </ul>
    </nav>
  </div>
  <div class="title">
    <h1>Comparative Advantage</h1>
  </div>
</header>
