<h3>Welcome!</h3>

<ul>
    <li>{{#link-to 'sliders' 1}}Tony and Nino{{/link-to}}</li>
    <li>{{#link-to 'sliders' 2}}Cell Phones and Microwaves{{/link-to}}</li>
    <li>{{#link-to 'sliders' 3}}Cheese and Wheat{{/link-to}}</li>
</ul>